* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #9C6FE2;
}
.header__container {
  max-width: 1164px;
  margin: 0 auto;
  color: white;
}
@media (max-width: 1280px) {
  .header__container {
    padding: 0 40px 0px 40px;
  }
}
@media (max-width: 376px) {
  .header__container {
    padding: 0 13px 0px 13px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.header__logo-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__logo-text {
  font-size: 14px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.header a {
  color: #ffffff;
}
.header a:hover {
  color: #5EB5F7;
}
@media (max-width: 1280px) {
  .header__logo {
    padding: 30px 40px 30px 40px;
  }
  .header__logo-left {
    gap: 15px;
  }
  .header__nav {
    gap: 16px;
  }
  .header__logo-text {
    font-size: 14px;
  }
}
@media (max-width: 376px) {
  .header__logo {
    padding: 26px 13px 20px 13px;
    text-align: start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .header__logo-left {
    gap: 15px;
  }
  .header__nav {
    display: none;
  }
  .header__logo-text {
    font-size: 14px;
  }
}

.section {
  background-color: #F9F4FF;
}
.section__container {
  max-width: 1164px;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .section__container {
    padding: 0 40px 0px 40px;
  }
}
@media (max-width: 376px) {
  .section__container {
    padding: 0 13px 0px 13px;
  }
}

.graduates__mainTitle {
  font-size: 48px;
  font-weight: bold;
  color: #FF6B0A;
  padding-top: 72px;
}
.graduates__title {
  font-size: 48px;
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 32px;
}
.graduates__title-orange {
  color: #FF6B0A;
}
.graduates__text {
  font-size: 16px;
}
.graduates__text-mission {
  padding-bottom: 15px;
}
.graduates__text-years {
  padding-bottom: 15px;
  font-weight: bold;
}
.graduates__text-teachers {
  padding-bottom: 35px;
}
.graduates__companies {
  padding-bottom: 44px;
}
.graduates__itCompanies {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
}
.graduates__companiesLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 43px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 43px;
}
@media (max-width: 376px) {
  .graduates__mainTitle {
    font-size: 20px;
    font-weight: bold;
    padding-top: 14px;
  }
  .graduates__title {
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 27px;
  }
  .graduates__text {
    font-size: 12px;
  }
  .graduates__text-mission, .graduates__text-years, .graduates__text-teachers {
    padding-bottom: 15px;
  }
  .graduates__itCompanies {
    font-size: 14px;
    padding-bottom: 27px;
  }
  .graduates__companiesLogo {
    gap: 20px;
    padding: 0;
  }
  .graduates__companiesLogo img {
    max-width: 72px;
  }
}

.section2 {
  background-color: #F9F4FF;
}
.section2__container {
  max-width: 1164px;
  margin: 0 auto;
  padding: 82px 0 40px 0;
}
@media (max-width: 1280px) {
  .section2__container {
    padding: 0 40px 0px 40px;
  }
}
@media (max-width: 376px) {
  .section2__container {
    padding: 0 13px 0px 13px;
  }
}

.reviews__title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 32px;
}
.reviews__title-orange {
  color: #FF6B0A;
}
.reviews__grade {
  font-size: 16px;
  padding-bottom: 60px;
}
.reviews__studentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 259px;
  max-height: 330px;
  padding: 19px 12px;
  background-color: white;
  padding: 18px 38px 112px 38px;
  border-radius: 15px;
}
.reviews__students-title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 16px;
}
.reviews__students p {
  font-size: 14px;
  max-width: 218px;
}
.reviews__students-fullname {
  padding-bottom: 16px;
}
.reviews__controls {
  display: none;
}
@media (max-width: 376px) {
  .reviews__title {
    max-width: 302px;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 16px;
  }
  .reviews__grade {
    max-width: 302px;
    font-size: 14px;
    padding-bottom: 32px;
    margin: 0 auto;
  }
  .reviews__students {
    display: none;
  }
  .reviews__students:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews__studentBox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews__students-title {
    font-size: 13px;
    padding-bottom: 16px;
  }
  .reviews__students p {
    font-size: 13px;
    max-width: 218px;
  }
  .reviews__students-fullname {
    padding-bottom: 16px;
  }
  .reviews__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 24px;
    margin-top: 20px;
    margin-bottom: 27px;
  }
  .reviews__btn {
    padding: 12px;
    width: 51px;
    height: 56px;
    border-radius: 15px;
    color: white;
    background-color: #9C6FE2;
    font-size: 25px;
  }
}

.footer {
  background-color: #000;
  color: white;
}
.footer__container {
  max-width: 1164px;
  margin: 0 auto;
}
.footer__topPart {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 10px;
}
.footer__logo {
  max-width: 75px;
  height: auto;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 238px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 64px;
  gap: 8px;
}
.footer__socials-icon {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__socials-icon.blue {
  background-color: #3D6DE6;
}
.footer__socials-icon.pink {
  background-color: #D53692;
}
.footer__socials-icon.darkblue {
  background-color: #3F76B6;
}
.footer__socials-icon.lightblue {
  background-color: #5EB5F7;
}
.footer__socials-icon.red {
  background-color: #E02900;
}
.footer__bottomPart {
  font-size: 10px;
  color: #4D4D4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 46px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
}
.footer .footer__link,
.footer .footer__phones a,
.footer .footer__email a {
  color: #ffffff;
}
.footer .footer__link:hover,
.footer .footer__phones a:hover,
.footer .footer__email a:hover {
  color: #5EB5F7;
}
@media (max-width: 376px) {
  .footer__topPart {
    padding-top: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10px;
  }
  .footer__logo {
    max-width: 75px;
    height: auto;
  }
  .footer__contacts {
    padding-top: 40px;
    padding-bottom: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 26px;
  }
  .footer__email {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .footer__bottomPart {
    font-size: 10px;
    color: #4D4D4D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 60px;
  }
  .footer__copyright {
    padding: 32px;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 14px;
  }
  .footer .footer__link {
    color: #4D4D4D;
  }
  .footer .footer__link:hover {
    color: #5EB5F7;
  }
}