* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #9C6FE2;
}
.header__container {
  max-width: 1164px;
  margin: 0 auto;
  color: white;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}
.header__logo-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__logo-text {
  font-size: 14px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.header a {
  color: #ffffff;
}
.header a:hover {
  color: #5EB5F7;
}

.section {
  background-color: #F9F4FF;
}
.section__container {
  max-width: 1164px;
  margin: 0 auto;
}

.graduates__mainTitle {
  font-size: 48px;
  font-weight: bold;
  color: #FF6B0A;
  padding-top: 72px;
}
.graduates__title {
  font-size: 48px;
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 32px;
}
.graduates__title-orange {
  color: #FF6B0A;
}
.graduates__text {
  font-size: 16px;
}
.graduates__text-mission {
  padding-bottom: 15px;
}
.graduates__text-years {
  padding-bottom: 15px;
  font-weight: bold;
}
.graduates__text-teachers {
  padding-bottom: 35px;
}
.graduates__companies {
  padding-bottom: 44px;
}
.graduates__itCompanies {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
}
.graduates__companiesLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 43px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 43px;
}

.section2 {
  background-color: #F9F4FF;
}
.section2__container {
  max-width: 1164px;
  margin: 0 auto;
  padding: 82px 0 40px 0;
}

.reviews__title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 32px;
}
.reviews__title-orange {
  color: #FF6B0A;
}
.reviews__grade {
  font-size: 16px;
  padding-bottom: 60px;
}
.reviews__studentBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 260px;
  padding: 19px 12px;
  background-color: white;
}
.reviews__students-title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 16px;
}
.reviews__students p {
  font-size: 14px;
  max-width: 218px;
}
.reviews__students-fullname {
  padding-bottom: 16px;
}
.footer {
  background-color: #000;
  color: white;
}
.footer__container {
  max-width: 1164px;
  margin: 0 auto;
}
.footer__topPart {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 10px;
}
.footer__logo {
  max-width: 75px;
  height: auto;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 238px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 64px;
  gap: 8px;
}
.footer__socials-icon {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__socials-icon.blue {
  background-color: #3D6DE6;
}
.footer__socials-icon.pink {
  background-color: #D53692;
}
.footer__socials-icon.darkblue {
  background-color: #3F76B6;
}
.footer__socials-icon.lightblue {
  background-color: #5EB5F7;
}
.footer__socials-icon.red {
  background-color: #E02900;
}
.footer__bottomPart {
  font-size: 10px;
  color: #4D4D4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 46px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
}
.footer .footer__link,
.footer .footer__phones a,
.footer .footer__email a {
  color: #ffffff;
}
.footer .footer__link:hover,
.footer .footer__phones a:hover,
.footer .footer__email a:hover {
  color: #5EB5F7;
}