* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #9C6FE2;
}
.header__container {
  max-width: 1164px;
  height: 824px;
  margin: 0 auto;
  color: white;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 42px;
}
.header__logo-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.header a {
  color: #ffffff;
}
.header a:hover {
  color: #5EB5F7;
}
.header__logo-text {
  font-size: 14px;
}
.header__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}
.header__list {
  width: 350px;
  font-size: 16px;
  background-color: #8C63CB;
  border-radius: 20px;
  padding: 10px;
}
.header__list li {
  background: url("/img/header/alert.svg") no-repeat 0 50%;
  padding: 0 16px 0 39px;
}
.header__mounth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__mounth-17 {
  font-size: 48px;
  padding-left: 25px;
  font-weight: 700;
  color: #FF6B0A;
}
.header__mounth-mounth {
  padding: 9px 0px 9px 4px;
  font-size: 14px;
}
.header__mounth-mounth p {
  font-size: 20px;
  font-weight: 700;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 740px;
}
.header__text-title {
  font-size: 48px;
  padding: 0 0 42px 0;
}
.header__text-text {
  font-size: 20px;
  padding: 0 0 54px 0;
}
.header__text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__text2-text2 {
  font-size: 16px;
  padding: 34px 0 0 0;
}
.header__form {
  width: 365px;
  height: auto;
  padding: 32px 26px;
  background: #fff;
  border-radius: 16px;
  text-align: center;
  color: black;
}
.header__form-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}
.header__form-bonus {
  font-size: 14px;
  margin-bottom: 22px;
}
.header__form-bonus span {
  display: block;
  font-weight: 600;
}
.header__form-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  margin-bottom: 6px;
}
.header__form-timer span {
  margin: 0 6px;
}
.header__form-item {
  max-width: 48px;
}
.header__form-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  font-size: 14px;
  margin-bottom: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__form-input {
  width: 100%;
  padding: 3px 10px;
  margin-bottom: 14px;
  background: #f2f2f2;
  border-radius: 10px;
  border: none;
}
.header__form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 14px;
  margin: 16px 0;
  text-align: left;
}
.header__form-checkbox input {
  display: none;
}
.header__form-checkbox-box {
  width: 40px;
  height: 20px;
  border: 1px solid #aaa;
  border-radius: 50%;
}
.header__form-button {
  width: 100%;
  padding: 7px 0px;
  background: #e67ea6;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.section1 {
  background-color: #F9F4FF;
}
.section1__container {
  max-width: 1164px;
  margin: 0 auto;
}
.section1__part1 {
  padding-top: 104px;
}
.section1__title {
  font-size: 48px;
  font-weight: bold;
  max-width: 826px;
}
.section1__title-orange {
  color: #FF6B0A;
}
.section1 .benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}
.section1 .benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}
.section1 .benefits__icon {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section1 .benefits__icon.green {
  background-color: #1DA551;
}
.section1 .benefits__icon.blue {
  background-color: #273DA4;
}
.section1 .benefits__icon.purple {
  background-color: #623771;
}
.section1 .benefits__icon.pink {
  background-color: #D062D1;
}
.section1 .benefits__text {
  max-width: 170px;
  font-size: 16px;
}
.section1 .section__part2 {
  padding-top: 132px;
}
.section1 .section__part2 .section__title2 {
  font-size: 48px;
  font-weight: bold;
  max-width: 907px;
  padding-bottom: 60px;
}
.section1 .section__part2 .section__title2-orange {
  color: #FF6B0A;
}
.section1 .section__part2 .section__questionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 80px;
  padding-bottom: 78px;
}
.section1 .section__part2 .section__questionList .section__questionList-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(33.333% - 15px);
          flex: 1 1 calc(33.333% - 15px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 16px;
}
.section1 .section__part2 .section__questionList .section__questionList-question .dot {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.section1 .section__part2 .section__questionList .section__questionList-question .dot.red {
  background-color: #E44A59;
}
.section1 .section__part2 .section__questionList .section__questionList-question .dot.blue {
  background-color: #5B86A1;
}
.section1 .section__part2 .section__questionList .section__questionList-question .dot.lightBlue {
  background-color: #6A95EA;
}
.section1 .section__part2 .section__questionList .section__questionList-question .dot.orange {
  background-color: #E38800;
}
.section1 .section__part2 .section__questionList .section__questionList-question .dot.pink {
  background-color: #D90083;
}
.section1 .section__part2 .section__questionList .section__questionList-question .dot.purple {
  background-color: #623771;
}

.section2__container {
  max-width: 1164px;
  margin: 0 auto;
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 114px;
  padding-top: 68px;
  padding-bottom: 102px;
}
.hero__photo {
  max-width: 400px;
  max-height: 400px;
}
.hero__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 20px;
}
.hero__title-orange {
  color: #FF6B0A;
}
.hero__text {
  font-size: 16px;
  max-width: 586px;
}
.hero__text-item1 {
  padding-bottom: 15px;
}
.hero__text-item2 {
  padding-bottom: 20px;
}
.hero__experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 8px;
  max-width: 586px;
}
.hero .dot {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.hero .dot.pink {
  background-color: #E44A59;
}
.hero .dot.orange {
  background-color: #E38800;
}

.marathon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9C6FE2;
  border-radius: 28px;
  margin: 40px 0 53px 0;
  color: white;
}
.marathon__title {
  max-width: 1000px;
  font-size: 48px;
  color: white;
  padding: 70px 0 60px 0;
}
.marathon__plans {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
  gap: 85px;
}
.marathon__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  max-width: 1000px;
  max-height: 278px;
}
.marathon__plans-icon {
  width: 74px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 15px;
}
.marathon__plans-icon.blue {
  background-color: #273DA4;
}
.marathon__plans-icon.pink {
  background-color: #D062D1;
}
.marathon__plans-icon.green {
  background-color: #1DA551;
}
.marathon__plans-text {
  font-size: 16px;
}

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
  padding-bottom: 61px;
}
.registration__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.registration__title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 32px;
}
.registration__text {
  font-size: 24px;
  padding-bottom: 40px;
}
.registration__btn {
  padding: 20px 40px;
  border-radius: 15px;
  background-color: #FF6B0A;
  font-size: 18px;
  color: white;
}

.section3 {
  background-color: #F9F4FF;
}
.section3__container {
  max-width: 1164px;
  margin: 0 auto;
}
.graduates__title {
  font-size: 48px;
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 32px;
}
.graduates__title-orange {
  color: #FF6B0A;
}
.graduates__text {
  font-size: 16px;
}
.graduates__text-mission {
  padding-bottom: 15px;
}
.graduates__text-years {
  padding-bottom: 15px;
  font-weight: bold;
}
.graduates__text-teachers {
  padding-bottom: 35px;
}
.graduates__companies {
  padding-bottom: 44px;
}
.graduates__itCompanies {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
}
.graduates__companiesLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 43px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 43px;
}

.section4 {
  background-color: #9C6FE2;
}
.section4__container {
  max-width: 1164px;
  margin: 0 auto;
}
.promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 75px;
  padding-bottom: 140px;
  color: white;
  padding-top: 191px;
}
.promotion__icon {
  max-width: 538px;
  max-height: 410px;
}
.promotion__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.promotion__title {
  font-size: 44px;
  font-weight: bold;
  padding-bottom: 32px;
}
.promotion__text {
  font-size: 24px;
  padding-bottom: 40px;
}
.promotion__btn {
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: #FF6B0A;
  font-size: 18px;
  color: white;
}

.footer {
  background-color: #000;
  color: white;
}
.footer__container {
  max-width: 1164px;
  margin: 0 auto;
}
.footer__topPart {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 10px;
}
.footer__logo {
  max-width: 75px;
  height: auto;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 238px;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 64px;
  gap: 8px;
}
.footer__socials-icon {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__socials-icon.blue {
  background-color: #3D6DE6;
}
.footer__socials-icon.pink {
  background-color: #D53692;
}
.footer__socials-icon.darkblue {
  background-color: #3F76B6;
}
.footer__socials-icon.lightblue {
  background-color: #5EB5F7;
}
.footer__socials-icon.red {
  background-color: #E02900;
}
.footer__bottomPart {
  font-size: 10px;
  color: #4D4D4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 46px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 52px;
}
.footer .footer__link,
.footer .footer__phones a,
.footer .footer__email a {
  color: #ffffff;
}
.footer .footer__link:hover,
.footer .footer__phones a:hover,
.footer .footer__email a:hover {
  color: #5EB5F7;
}