@import "../scss/reset.scss";

$purple: #9C6FE2;
$orange: #FF6B0A;

body {
   font-family: 'Montserrat', sans-serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.header {
   background-color: $purple;

   &__container {
      max-width: 1164px;
      margin: 0 auto;
      color: white;
   }

   &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
   }

   &__logo-left {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   &__logo-img {}

   &__logo-text {
      font-size: 14px;
   }

   &__nav {
      display: flex;
      gap: 16px;
   }

   a {
      color: #ffffff;

      &:hover {
         color: #5EB5F7;
      }
   }
}

.section {
   background-color: #F9F4FF;

   &__container {
      max-width: 1164px;
      margin: 0 auto;
   }

}

.graduates {

   &__mainTitle {
      font-size: 48px;
      font-weight: bold;
      color: $orange;
      padding-top: 72px;
   }

   &__title {
      font-size: 48px;
      font-weight: bold;
      padding-top: 70px;
      padding-bottom: 32px;

      &-orange {
         color: $orange;
      }
   }

   &__text {
      font-size: 16px;
   }

   &__text-mission {
      padding-bottom: 15px;
   }

   &__text-years {
      padding-bottom: 15px;
      font-weight: bold;
   }

   &__text-teachers {
      padding-bottom: 35px;
   }

   &__companies {
      padding-bottom: 44px;
   }

   &__itCompanies {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 40px;
   }

   &__companiesLogo {
      display: flex;
      flex-wrap: wrap;
      gap: 43px;
      justify-content: center;
      padding-bottom: 43px;
   }
}

.section2 {
   background-color: #F9F4FF;

   &__container {
      max-width: 1164px;
      margin: 0 auto;
      padding: 82px 0 40px 0;
   }
}

.reviews {

   &__title {
      font-size: 48px;
      font-weight: bold;
      padding-bottom: 32px;
   }

   &__title-orange {
      color: $orange;
   }

   &__grade {
      font-size: 16px;
      padding-bottom: 60px;
   }

   &__studentBox {
      display: flex;
      justify-content: space-between;
   }

   &__students {
      display: flex;
      flex-direction: column;
      max-width: 260px;
      padding: 19px 12px;
      background-color: white;
   }

   &__students-title {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 16px;
   }

   &__students p {
      font-size: 14px;
      max-width: 218px;
   }

   &__students-stars {}

   &__students-fullname {
      padding-bottom: 16px;
   }

   &__students-studentRewiev {}
}

.footer {
   background-color: #000;
   color: white;

   &__container {
      max-width: 1164px;
      margin: 0 auto;
   }

   &__topPart {
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 10px;
   }

   &__logo {
      max-width: 75px;
      height: auto;
   }

   &__contacts {
      display: flex;
      gap: 238px;
   }

   &__address {}

   &__phones {}

   &__email {}

   &__socials {
      display: flex;
      justify-content: end;
      padding-bottom: 64px;
      gap: 8px;
   }

   &__socials-icon {
      width: 40px;
      height: 40px;
      border-radius: 40%;
      gap: 8px;

      display: flex;
      align-items: center;
      justify-content: center;

      &.blue {
         background-color: #3D6DE6;
      }

      &.pink {
         background-color: #D53692;
      }

      &.darkblue {
         background-color: #3F76B6;
      }

      &.lightblue {
         background-color: #5EB5F7;
      }

      &.red {
         background-color: #E02900;
      }
   }

   &__bottomPart {
      font-size: 10px;
      color: #4D4D4D;
      display: flex;
      justify-content: space-between;
      padding-bottom: 46px;
   }

   &__copyright {}

   &__links {
      display: flex;
      gap: 52px;
   }

   .footer__link,
   .footer__phones a,
   .footer__email a {
      color: #ffffff;

      &:hover {
         color: #5EB5F7;
      }
   }
}