@import "../scss/reset.scss";

$purple: #9C6FE2;
$orange: #FF6B0A;

body {
   font-family: 'Montserrat', sans-serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.header {
   background-color: $purple;

   &__container {
      max-width: 1164px;
      margin: 0 auto;
      color: white;
   }

   &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
   }

   &__logo-left {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   &__logo-text {
      font-size: 14px;
   }

   &__nav {
      display: flex;
      gap: 16px;
   }

   &__burger {
      display: none;
      flex-direction: column;
      gap: 5px;
      background: none;
      border: none;
      cursor: pointer;

      span {
         width: 25px;
         height: 3px;
         background-color: white;
         border-radius: 2px;
      }
   }

   a {
      color: #ffffff;

      &:hover {
         color: #5EB5F7;
      }
   }

   @media (max-width: 1280px) {
      &__logo {
         padding: 30px 40px 46px 40px;
      }

      &__logo-left {
         gap: 15px;
      }

      &__nav {
         gap: 16px;
      }

      &__logo-text {
         font-size: 14px;
      }
   }

   @media (max-width: 376px) {
      &__logo {
         padding: 26px 13px 20px 13px;
         text-align: start;
         justify-content: space-between;
      }

      &__logo-left {
         gap: 15px;
      }

      &__nav {
         display: none;
      }

      &__burger {
         display: flex;
      }

      &__logo-text {
         font-size: 14px;
      }
   }
}

.section {
   background-color: #F9F4FF;

   &__container {
      max-width: 1164px;
      margin: 0 auto;

      @media (max-width: 1280px) {
         padding: 0 40px 0px 40px;
      }

      @media (max-width: 376px) {
         padding: 0 13px 0px 13px;
      }
   }

}

.graduates {

   &__mainTitle {
      font-size: 48px;
      font-weight: bold;
      color: $orange;
      padding-top: 72px;
   }

   &__title {
      font-size: 48px;
      font-weight: bold;
      padding-top: 70px;
      padding-bottom: 32px;

      &-orange {
         color: $orange;
      }
   }

   &__text {
      font-size: 16px;
   }

   &__text-mission {
      padding-bottom: 15px;
   }

   &__text-years {
      padding-bottom: 15px;
      font-weight: bold;
   }

   &__text-teachers {
      padding-bottom: 35px;
   }

   &__companies {
      padding-bottom: 44px;
   }

   &__itCompanies {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 40px;
   }

   &__companiesLogo {
      display: flex;
      flex-wrap: wrap;
      gap: 43px;
      justify-content: center;
      padding-bottom: 43px;
   }

   @media (max-width: 376px) {
      &__mainTitle {
         font-size: 20px;
         font-weight: bold;
         padding-top: 14px;
      }

      &__title {
         font-size: 20px;
         padding-top: 14px;
         padding-bottom: 27px;
      }

      &__text {
         font-size: 12px;
      }

      &__text-mission,
      &__text-years,
      &__text-teachers {
         padding-bottom: 15px;
      }

      &__itCompanies {
         font-size: 14px;
         padding-bottom: 27px;
      }

      &__companiesLogo {
         gap: 20px;
         padding: 0;

         img {
            max-width: 72px;
         }
      }
   }
}

.section2 {
   background-color: #F9F4FF;

   &__container {
      max-width: 1164px;
      margin: 0 auto;
      padding: 82px 0 40px 0;

      @media (max-width: 1280px) {
         padding: 0 40px 0px 40px;
         margin-bottom: 55px;
         gap: 10px;
      }

      @media (max-width: 376px) {
         padding: 0 13px 0px 13px;
      }
   }
}

.reviews {

   &__title {
      font-size: 48px;
      font-weight: bold;
      padding-bottom: 32px;
   }

   &__title-orange {
      color: $orange;
   }

   &__grade {
      font-size: 16px;
      padding-bottom: 60px;
   }

   &__studentBox {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
   }

   &__students {
      display: flex;
      flex-direction: column;
      flex: 0 1 calc((100% - 3 * 20px) / 4);
      max-height: 330px;
      padding: 19px 12px;
      background-color: white;
      padding: 18px 38px 112px 38px;
      border-radius: 15px;
   }

   &__students-title {
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 16px;
   }

   &__students p {
      font-size: 14px;
      max-width: 218px;
   }

   &__students-fullname {
      padding-bottom: 16px;
   }

   &__controls {
      display: none;
   }

   @media (max-width: 376px) {
      &__title {
         max-width: 302px;
         margin: 0 auto;
         font-size: 20px;
         padding-bottom: 16px;
      }

      &__grade {
         max-width: 302px;
         font-size: 14px;
         padding-bottom: 32px;
         margin: 0 auto;
      }

      &__students {
         display: none;
      }

      &__students:first-child {
         display: flex;
         flex-direction: column;
      }

      &__studentBox {
         justify-content: center;
      }

      &__students-title {
         font-size: 13px;
         padding-bottom: 16px;
      }

      &__students p {
         font-size: 13px;
         max-width: 218px;
      }

      &__students-fullname {
         padding-bottom: 16px;
      }

      &__controls {
         display: flex;
         justify-content: space-around;
         gap: 24px;
         margin-top: 20px;
         margin-bottom: 27px;
      }

      &__btn {
         padding: 12px;
         width: 51px;
         height: 56px;
         border-radius: 15px;
         color: white;
         background-color: $purple;
         font-size: 25px;
      }
   }
}

.footer {
   background-color: #000;
   color: white;

   &__container {
      max-width: 1164px;
      margin: 0 auto;

      @media (max-width: 1280px) {
         padding: 0 40px 0px 40px;
      }

      @media (max-width: 376px) {
         padding: 0 33px 0px 33px;
      }
   }

   &__topPart {
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 10px;
   }

   &__logo {
      max-width: 75px;
      height: auto;
   }

   &__contacts {
      display: flex;
      gap: 238px;
   }

   &__socials {
      display: flex;
      justify-content: end;
      padding-bottom: 64px;
      gap: 8px;
   }

   &__socials-icon {
      width: 40px;
      height: 40px;
      border-radius: 40%;
      gap: 8px;

      display: flex;
      align-items: center;
      justify-content: center;

      &.blue {
         background-color: #3D6DE6;
      }

      &.pink {
         background-color: #D53692;
      }

      &.darkblue {
         background-color: #3F76B6;
      }

      &.lightblue {
         background-color: #5EB5F7;
      }

      &.red {
         background-color: #E02900;
      }
   }

   &__bottomPart {
      font-size: 10px;
      color: #4D4D4D;
      display: flex;
      justify-content: space-between;
      padding-bottom: 46px;
   }

   &__links {
      display: flex;
      gap: 52px;
   }

   .footer__link,
   .footer__phones a,
   .footer__email a {
      color: #ffffff;

      &:hover {
         color: #5EB5F7;
      }
   }

   @media (max-width: 376px) {
      &__topPart {
         padding-top: 34px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-size: 10px;
      }

      &__logo {
         max-width: 75px;
         height: auto;
      }

      &__contacts {
         padding-top: 40px;
         padding-bottom: 26px;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         gap: 26px;
      }

      &__email {
         width: 100%;
         display: flex;
         justify-content: center;
      }

      &__socials {
         justify-content: center;
         padding: 0;
      }

      &__bottomPart {
         font-size: 10px;
         color: #4D4D4D;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: 60px;
      }

      &__copyright {
         padding: 32px;
      }

      &__links {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 14px;

      }

      .footer__link {
         color: #4D4D4D;

         &:hover {
            color: #5EB5F7;
         }
      }
   }
}