@import "../scss/reset.scss";
@import "../scss/about";

$purple: #9C6FE2;
$orange: #FF6B0A;

body {
   font-family: 'Montserrat', sans-serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.header {
   background-color: $purple;

   &__container {
      max-width: 1164px;
      margin: 0 auto;
      color: white;
   }

   &__logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
   }

   &__logo-left {
      display: flex;
      align-items: center;
      gap: 30px;
   }

   &__logo-text {
      font-size: 14px;
   }

   &__nav {
      display: flex;
      gap: 16px;
   }

   &__burger {
      display: none;
      flex-direction: column;
      gap: 5px;
      background: none;
      border: none;
      cursor: pointer;

      span {
         width: 25px;
         height: 3px;
         background-color: white;
         border-radius: 2px;
      }
   }

   a {
      color: #ffffff;

      &:hover {
         color: #5EB5F7;
      }
   }

   @media (max-width: 1280px) {
      &__logo {
         padding: 30px 40px 46px 40px;
      }

      &__logo-left {
         gap: 15px;
      }

      &__nav {
         gap: 16px;
      }

      &__logo-text {
         font-size: 14px;
      }
   }

   @media (max-width: 376px) {
      &__logo {
         padding: 26px 13px 20px 13px;
         text-align: start;
         justify-content: space-between;
      }

      &__logo-left {
         gap: 15px;
      }

      &__nav {
         display: none;
      }

      &__burger {
         display: flex;
      }

      &__logo-text {
         font-size: 14px;
      }
   }
}

.under-header {
   background-color: $purple;

   &__container {
      max-width: 1164px;
      margin: 0 auto;
      padding-bottom: 76px;
      color: #fff;
   }

   &__main {
      padding-top: 64px;
   }

   @media (max-width: 1280px) {
      &__container {
         padding: 0 40px 0px 40px;
      }
   }

   @media (max-width: 376px) {
      &__container {
         padding: 0 13px 0px 13px;
      }
   }
}

.data {
   display: flex;
   align-items: center;
   gap: 17px;

   &__list {
      display: flex;
      align-items: center;
      background-color: #8c63cb;
      border-radius: 15px;
      padding: 10px 16px;
      gap: 13px;
   }

   &__list-items {
      font-size: 16px;
      max-width: 305px;
   }

   &__date {
      display: flex;
      align-items: center;
   }

   &__date-day {
      font-size: 48px;
      font-weight: 700;
      color: $orange;
      margin-right: 8px;
   }

   &__date-month {
      font-size: 14px;

      p {
         font-size: 20px;
         font-weight: 700;
         margin: 0;
      }
   }

   @media (max-width: 376px) {
      &__list-items {
         font-size: 11px;
      }

      &__date {
         gap: 4px;
      }

      &__date-day {
         font-size: 32px;
      }

      &__date-month {
         font-size: 11px;

         p {
            font-size: 12px;
         }
      }
   }
}

.main {
   display: flex;
   justify-content: space-between;
   gap: 26px;
   padding-top: 24px;

   &__text {
      max-width: 740px;
   }

   &__title {
      font-size: 48px;
      margin-bottom: 55px;
   }

   &__description {
      font-size: 20px;
      margin-bottom: 20px;
   }

   &__bonus {
      display: flex;
      gap: 16px;
   }

   &__bonus-text {
      font-size: 16px;
   }

   @media (max-width: 376px) {
      & {
         flex-direction: column;
      }

      &__text {
         max-width: 740px;
      }

      &__title {
         font-size: 20px;
         margin-bottom: 24px;
         max-width: 330px;
      }

      &__description {
         font-size: 11px;
         margin-bottom: 24px;
      }

      .main__bonus-icon img {
         width: 100%;
         height: auto;

         @media (max-width: 376px) {
            width: 80px;
            height: 60px;
         }
      }

      &__bonus {
         display: flex;
         gap: 16px;
         align-items: flex-start;
      }

      &__bonus-text {
         max-width: 173px;
         font-size: 11px;
         padding-top: 0;
      }
   }
}

.form {
   width: 365px;
   background: #fff;
   border-radius: 16px;
   padding: 32px 26px;
   color: #000;
   text-align: center;

   &__title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 12px;

      span {
         display: block;
      }
   }

   &__bonus {
      font-size: 11px;
      margin-bottom: 22px;
   }

   &__timer {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      margin-bottom: 6px;

      span {
         margin: 0 6px;
      }
   }

   &__time {
      min-width: 48px;
   }

   &__labels {
      display: flex;
      justify-content: center;
      gap: 17px;
      font-size: 14px;
      margin-bottom: 22px;
   }

   &__input {
      width: 100%;
      padding: 10px;
      margin-bottom: 14px;
      background: #f2f2f2;
      border-radius: 10px;
      border: none;
   }

   &__checkbox {
      display: flex;
      gap: 10px;
      margin: 16px 0;
      text-align: left;

      input {
         display: none;
      }
   }

   &__checkbox-box {
      width: 18px;
      height: 18px;
      border: 1px solid #aaa;
      border-radius: 50%;
      flex-shrink: 0;
      margin-top: 4px;
   }

   &__checkbox-text {
      font-size: 12px;
   }

   &__button {
      width: 100%;
      padding: 7px 41px;
      background: #e67ea6;
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      border-radius: 10px;
      border: none;
      cursor: pointer;
   }

   @media (max-width: 376px) {
      padding: 27px 12px 12px 12px;
      margin-bottom: 36px;
      width: 100%;

      &__title {
         font-size: 16px;
         margin-bottom: 8px;
      }

      &__bonus {
         font-size: 11px;
         margin-bottom: 12px;
      }

      &__timer {
         font-size: 32px;
      }

      &__labels {
         font-size: 14px;
         gap: 17px;
      }

      .form__checkbox {
         display: none;
      }

      &__input {
         display: none;
      }

      &__button {
         font-size: 16px;
         padding: 8px 36px;
         width: auto;
      }
   }
}

.section1 {
   background-color: #F9F4FF;

   &__container {
      max-width: 1164px;
      margin: 0 auto;

      @media (max-width: 1280px) {
         padding: 0 40px 0px 40px;
      }

      @media (max-width: 376px) {
         padding: 0 13px 0px 13px;
      }
   }

   &__part1 {
      padding-top: 104px;

      @media (max-width: 376px) {
         padding-top: 32px;
      }
   }

   &__title {
      font-size: 48px;
      font-weight: bold;
      max-width: 826px;

      &-orange {
         color: $orange;
      }

      @media (max-width: 376px) {
         font-size: 20px;
      }
   }

   .benefits {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 42px;

      &__item {
         display: flex;
         align-items: center;
         gap: 30px;
         flex: 1 1 250px;
      }

      &__icon {
         min-width: 70px;
         min-height: 70px;
         border-radius: 12px;
         display: flex;
         align-items: center;
         justify-content: center;

         &.green {
            background-color: #1DA551;
         }

         &.blue {
            background-color: #273DA4;
         }

         &.purple {
            background-color: #623771;
         }

         &.pink {
            background-color: #D062D1;
         }
      }

      &__text {
         max-width: 170px;
         font-size: 16px;
      }

      @media (max-width: 376px) {

         &__item {
            gap: 20px;
         }

         &__text {
            max-width: 260px;
         }
      }
   }

   .section__part2 {
      padding-top: 106px;

      @media (max-width: 376px) {
         padding-top: 62px;
      }

      .section__title2 {
         font-size: 48px;
         font-weight: bold;
         max-width: 907px;
         padding-bottom: 60px;


         &-orange {
            color: $orange;
         }

         @media (max-width: 376px) {
            font-size: 20px;
            padding-bottom: 32px;
         }
      }

      .section__questionList {
         display: flex;
         flex-wrap: wrap;
         gap: 15px;
         margin-bottom: 106px;

         @media (max-width: 376px) {
            margin-bottom: 26px;
         }

         .section__questionList-question {
            display: flex;
            flex: 1 1 calc(33.333% - 15px);
            align-items: center;
            gap: 10px;
            font-size: 16px;

            .dot {
               flex: 0 0 auto;
               width: 25px;
               height: 25px;
               border-radius: 50%;

               &.red {
                  background-color: #E44A59;
               }

               &.blue {
                  background-color: #5B86A1;
               }

               &.lightBlue {
                  background-color: #6A95EA;
               }

               &.orange {
                  background-color: #E38800;
               }

               &.pink {
                  background-color: #D90083;
               }

               &.purple {
                  background-color: #623771;
               }
            }
         }

         @media (max-width: 376px) {
            gap: 10px;
            padding-bottom: 26px;

            .section__questionList-question {
               flex: 1 1 100%; // вопросы в колонку
               font-size: 14px; // чуть меньше текст
               gap: 4px;

               .dot {
                  width: 20px;
                  height: 20px;
               }
            }
         }
      }
   }
}

.section2 {

   &__container {
      max-width: 1164px;
      margin: 0 auto;

      @media (max-width: 1280px) {
         padding: 0 40px 0px 40px;
      }

      @media (max-width: 376px) {
         padding: 0 13px 0px 13px;
      }
   }

   .hero {
      display: flex;
      align-items: start;
      gap: 114px;
      padding-top: 68px;
      padding-bottom: 102px;

      &__photo {
         max-width: 400px;
      }

      &__content {
         flex: 1;
      }

      &__title {
         font-size: 48px;
         line-height: 1.2;
         font-weight: bold;
         padding-bottom: 20px;

         &-orange {
            color: $orange;
         }
      }

      &__text {
         font-size: 16px;
         max-width: 586px;
      }

      &__text-item1 {
         padding-bottom: 15px;
      }

      &__text-item2 {
         padding-bottom: 20px;
      }

      &__experience {
         display: flex;
         align-items: center;
         gap: 17px;
         font-size: 16px;
         line-height: 1.5;
         padding-bottom: 8px;
         max-width: 586px;
      }

      .dot {
         flex: 0 0 auto;
         width: 25px;
         height: 25px;
         border-radius: 50%;

         &.pink {
            background-color: #E44A59;
         }

         &.orange {
            background-color: #E38800;
         }
      }

      @media (max-width: 1280px) {
         &__icon img {
            max-width: 100%;
            height: auto;
         }
      }

      @media (max-width: 376px) {
         flex-direction: column;
         text-align: start;
         gap: 0;
         padding-top: 30px;
         padding-bottom: 0px;

         &__photo img {
            max-width: 100%;
            height: auto;
         }

         &__title {
            font-size: 14px;
            margin-top: 25px;
         }

         &__text-item1 {
            font-size: 14px;
         }

         &__text-item2 {
            font-size: 14px;
            padding-bottom: 41px;
         }

         &__experience {
            font-size: 11px;
            text-align: left;
         }
      }
   }

   .marathon {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $purple;
      border-radius: 28px;
      margin: 40px 0 53px 0;
      color: white;

      &__title {
         max-width: 1000px;
         font-size: 48px;
         color: white;
         padding: 70px 0 60px 0;
      }

      &__plans {
         max-width: 1000px;
         display: flex;
         padding-bottom: 70px;
         gap: 85px;
      }

      &__container {
         display: flex;
         gap: 25px;
         max-width: 1000px;
         max-height: 278px;

      }

      &__plans-icon {
         width: 74px;
         height: 74px;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-shrink: 0;
         border-radius: 15px;

         &.blue {
            background-color: #273DA4;
         }

         &.pink {
            background-color: #D062D1;
         }

         &.green {
            background-color: #1DA551;
         }
      }

      &__plans-text {
         font-size: 16px;
      }

      @media (max-width: 1280px) {
         padding-right: 20px;
         padding-left: 20px;
      }

      @media (max-width: 376px) {
         padding: 0px 16px 0px 16px;
         margin-top: 41px;

         &__title {
            font-size: 20px;
            padding-top: 60px;
            padding-bottom: 32px;
         }

         &__plans {
            flex-direction: column;
            gap: 8px;
            padding-bottom: 52px;
         }

         &__plans-text {
            font-size: 14px;
         }
      }
   }

   .registration {
      display: flex;
      align-items: center;
      gap: 75px;
      padding-bottom: 61px;

      &__content {
         display: flex;
         flex-direction: column;
         align-items: center;
         flex: 1;
      }

      &__title {
         font-size: 48px;
         font-weight: bold;
         padding-bottom: 32px;
      }

      &__text {
         font-size: 24px;
         padding-bottom: 40px;
      }

      &__btn {
         padding: 20px 40px;
         border-radius: 15px;
         background-color: $orange;
         font-size: 18px;
         color: white;
      }

      @media (max-width: 1280px) {
         flex-wrap: wrap;
         justify-content: center;

         &__icon img {
            max-width: 100%;
            height: auto;
         }
      }

      @media (max-width: 376px) {
         flex-direction: column;
         align-items: center;
         padding-bottom: 60px;
         gap: 12px;

         &__icon img {
            max-width: 100%;
            height: auto;
         }

         &__title {
            font-size: 24px;
            padding-bottom: 12px;
         }

         &__text {
            font-size: 14px;
            padding-bottom: 53px;
         }

         &__btn {
            font-size: 18px;
         }
      }
   }
}

.section3 {
   background-color: #F9F4FF;

   &__container {
      max-width: 1164px;
      margin: 0 auto;

      @media (max-width: 1280px) {
         padding: 0 40px 0px 40px;
      }

      @media (max-width: 376px) {
         padding: 0 13px 0px 13px;
      }
   }
}

.graduates {

   &__title {
      font-size: 48px;
      font-weight: bold;
      padding-top: 70px;
      padding-bottom: 32px;

      &-orange {
         color: $orange;
      }
   }

   &__text {
      font-size: 16px;
   }

   &__text-mission {
      padding-bottom: 15px;
   }

   &__text-years {
      padding-bottom: 15px;
      font-weight: bold;
   }

   &__text-teachers {
      padding-bottom: 35px;
   }

   &__companies {
      padding-bottom: 44px;
   }

   &__itCompanies {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 40px;
   }

   &__companiesLogo {
      display: flex;
      flex-wrap: wrap;
      gap: 43px;
      justify-content: center;
      padding-bottom: 43px;
   }

   @media (max-width: 376px) {
      &__title {
         font-size: 20px;
         padding-top: 32px;
         padding-bottom: 27px;
      }

      &__text {
         font-size: 12px;
      }

      &__text-mission,
      &__text-years,
      &__text-teachers {
         padding-bottom: 15px;
      }

      &__itCompanies {
         font-size: 14px;
         padding-bottom: 27px;
      }

      &__companiesLogo {
         gap: 20px;
         padding: 0;

         img {
            max-width: 72px;
         }
      }
   }
}

.section4 {
   background-color: $purple;

   &__container {
      max-width: 1164px;
      margin: 0 auto;

      @media (max-width: 1280px) {
         padding: 0 40px 0px 40px;
      }

      @media (max-width: 376px) {
         padding: 0 33px 0px 33px;
      }
   }

}

.promotion {
   display: flex;
   align-items: center;
   gap: 75px;
   padding-bottom: 140px;
   color: white;
   padding-top: 191px;

   &__icon {
      max-width: 538px;
      flex: 0 0 auto;

      img {
         width: 100%;
         height: auto;
      }
   }

   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      font-size: 44px;
      font-weight: bold;
      padding-bottom: 32px;
   }

   &__text {
      font-size: 24px;
      padding-bottom: 40px;
   }

   &__btn {
      margin-top: 30px;
      padding: 20px 40px;
      border-radius: 15px;
      background-color: $orange;
      font-size: 18px;
      color: white;
   }

   @media (max-width: 1280px) {
      flex-wrap: wrap;
      justify-content: center;
   }

   @media (max-width: 376px) {
      flex-direction: column;
      gap: 24px;
      padding-top: 36px;
      padding-bottom: 42px;

      &__icon {

         img {
            max-width: 100%;
            height: auto;
         }
      }

      &__title {
         font-size: 20px;
         font-weight: normal;
         padding-bottom: 16px;
      }

      &__text {
         font-size: 12px;
         padding-bottom: 24px;
      }

      &__btn {
         font-size: 18px;
         padding: 21px 59px;
         margin-top: 16px;
      }
   }
}

.footer {
   background-color: #000;
   color: white;

   &__container {
      max-width: 1164px;
      margin: 0 auto;

      @media (max-width: 1280px) {
         padding: 0 40px 0px 40px;
      }

      @media (max-width: 376px) {
         padding: 0 33px 0px 33px;
      }
   }

   &__topPart {
      padding-top: 36px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 10px;
   }

   &__logo {
      max-width: 75px;
      height: auto;
   }

   &__contacts {
      display: flex;

   }

   &__socials {
      display: flex;
      justify-content: end;
      padding-bottom: 64px;
      gap: 8px;
   }

   &__socials-icon {
      width: 40px;
      height: 40px;
      border-radius: 40%;
      gap: 8px;

      display: flex;
      align-items: center;
      justify-content: center;

      &.blue {
         background-color: #3D6DE6;
      }

      &.pink {
         background-color: #D53692;
      }

      &.darkblue {
         background-color: #3F76B6;
      }

      &.lightblue {
         background-color: #5EB5F7;
      }

      &.red {
         background-color: #E02900;
      }
   }

   &__bottomPart {
      font-size: 10px;
      color: #4D4D4D;
      display: flex;
      justify-content: space-between;
      padding-bottom: 46px;
   }

   &__links {
      display: flex;
      gap: 52px;
   }

   .footer__link,
   .footer__phones a,
   .footer__email a {
      color: #ffffff;

      &:hover {
         color: #5EB5F7;
      }
   }

   @media (max-width: 376px) {
      &__topPart {
         padding-top: 34px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-size: 10px;
      }

      &__logo {
         max-width: 75px;
         height: auto;
      }

      &__contacts {
         padding-top: 40px;
         padding-bottom: 26px;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
      }

      &__email {
         width: 100%;
         display: flex;
         justify-content: center;
      }

      &__socials {
         justify-content: center;
         padding: 0;
      }

      &__bottomPart {
         font-size: 10px;
         color: #4D4D4D;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: 60px;
      }

      &__copyright {
         padding: 32px;
      }

      &__links {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 14px;

      }

      .footer__link {
         color: #4D4D4D;

         &:hover {
            color: #5EB5F7;
         }
      }
   }
}